{% extends 'base.html.twig' %}

{% block title %}laboutiquefrançaise-Mon compte{% endblock %}

{% block content %}
<h1>Mon compte</h1>
Bienvenue {{ app.user.username }} dans votre compte c'est ici que vous pourrez gérer votre espace.
{% endblock %}
