{% extends 'base.html.twig' %}

{% block title %}laboutiquefrançaise-Mon compte{% endblock %}

{% block content %}
<h1>Mon compte</h1>
Bienvenue {{ app.user.username }} dans votre compte.<br/>
c'est ici que vous pourrez gérer votre espace personnel.<hr>

-<a href="{{ path('account_password')}}">Modifier mon mot de passe</a>
{% endblock %}
