{% extends 'base.html.twig' %}

{% block title %}laboutiquefrançraise-modifier mon mot de passes !{% endblock %}

{% block content %}
<h3>Modifier mon mot de passe</h3>
<a  href="{{path('account')}}">Retour à mon compte</a><br/>
<hr>
{{ form(formpass) }}
<hr>
{% endblock %}
